
@{
    ViewBag.Title = "Home | My E-Shopper";
}

@await Html.PartialAsync(partialViewName: "Partial/_Slider")

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                @await Html.PartialAsync(partialViewName: "Partial/_LeftSideBar")
            </div>

            <div class="col-sm-9 padding-right">
                @await Html.PartialAsync(partialViewName: "Partial/_FeaturesItems")

                @await Html.PartialAsync(partialViewName: "Partial/_CategoryTab")

                @await Html.PartialAsync(partialViewName: "Partial/_RecommendedItems")
            </div>
        </div>
    </div>
</section>
